@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 13, 17, 20;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 13, 17, 20;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-rgb));
  font-family: PP-Neue-Machina, Kiwari-Mono, Roboto, Helvetica, Arial, sans-serif;
}

iframe {
  width: 728px;
  height: 90px;
  border: 0px;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}